<% provide :title, "Home" %>
<ul class="thumbnails">
<% @hotel.each do |hotel| %>
  <li class="span4">
    <div class="thumbnail">
 	  <%= image_tag hotel.photo_url.to_s %>
      <h3><%= hotel.title %></h3>
      <p><%= hotel.room_description %></p>
      <ul>
        <li>Price:&nbsp;<%= hotel.price %> </li>
        <li>Breakfast included:&nbsp;<%= hotel.breakfast_included %></li>
        <li>Country:&nbsp;<%= hotel.address.country %></li>
		<li>State:&nbsp;<%= hotel.address.state %></li>
        <li>State:&nbsp;<%= hotel.address.state %></li>
        <li>City:&nbsp;<%= hotel.address.city %></li>
        <li>Street:&nbsp;<%= hotel.address.street %></li>
        </ul>
    </div>
  </li>
<% end %>
</ul>
