<header class="navbar navbar-fixed-top navbar-inverse">
   <div>
      <div class="navbar-inner">
         <div class="container">
            <a class="brand" href="/">Hotel Advisor</a>
            <ul class="nav pull-left">
               <li><%= link_to "Home", root_path %></li>
            </ul>
            <ul class="nav pull-right">
               <% if signed_in? %>
                 <li>
                     <%= link_to 'Add hotel', new_hotel_path %>
                  </li>
                  <li>
                     <%= link_to 'Sign out', destroy_user_session_path %>
                  </li>
               <% else %>
                  <li>
                     <%= link_to "Sign in", new_user_session_path %>  
                  </li>
                  <li>
                     <%= link_to "Sign up", new_user_registration_path %> 
                  </li> 
               <% end %>
            </ul>
         </div>
      </div>
   </div>
</header>